<!DOCTYPE HTML>
<html lang="en" xlmns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<title>Customer Directory</title>

</head>

<body>
	<div class="container">


		<h3>Customer Directory</h3>
		<hr>
		<!-- Add a button -->
		 <form th:action="@{/customers/search}" class="form-inline">
		<a th:href="@{/customers/showFormForAdd}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Customer
		</a>

		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="customerName" placeholder="Search by name" />

		<button class="btn btn-success mb-3" type="submit">Search</button>
    </form>	

		<table class="table table-bordered table-striped">
			<thead class=thead-dark>

				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>

			</thead>

			<tbody>
				<tr th:each="tempCustomer : ${customers}">
					<td th:text="${tempCustomer.firstName}" />
					<td th:text="${tempCustomer.lastName}" />
					<td th:text="${tempCustomer.email}" />
					
					
					<td>
					<!-- Add update button/link -->
					<a th:href="@{/customers/showFormForUpdate(customerId=${tempCustomer.id})} " 
					class="btn btn-info btn-sm">
					Update
					</a>
					<a th:href="@{/customers/delete(customerId=${tempCustomer.id})} " 
					class="btn btn-danger btn-sm"
					onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
					Delete
					
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
	</div>
</body>

</html>